body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

#countdown {
    font-size: 5em;
    font-weight: bold;
    color: #ff69b4;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 2;
}

#message {
    font-size: 3em;
    font-weight: bold;
    color: #ff69b4;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.flowers-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flower {
    position: absolute;
    animation: moveFlower 5s infinite;
    width: 120px;
    height: 120px;
    background-image: url('URL-OF-YOUR-NEW-FLOWER-IMAGE'); /* Yeni çiçek resminizin URL'si buraya gelecek */
    background-size: cover;
    opacity: 0.8;
}

@keyframes moveFlower {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}
